<%- layout('layouts/boilerplate') %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <p>Looks like something went wrong. Please try again later.</p>
    <hr>
    <p class="mb-0">Error message: <%= err.message %></p>
</div>
